In [135]:
import pandas as pd
import numpy as np
import datetime

In [136]:
df = pd.read_csv("df.csv")
simple_inmate = pd.read_csv("jocojims2inmatedata_201805291204.csv", usecols = ['mni', 'arrest_dt', 'rel_date','mar_stat', 'height', 'weight', 'b_state', 'religion'])
simple_cur_charges = pd.read_csv("current_charges.csv")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,dedupe_id,hash_ssn,sex,dob,race,city,state,zip,admit_date,dschrg_date,...,case_no,case_type,booking_no,arresting_agency,arresting_agency_type,booking_date,release_date,bail_type,bail_amt,bailed_out
0,218.0,b6e3375c206fa1e49e71a111f6e48b7b789969b88a6151...,FEMALE,1961-07-23,WHITE,MERRIAM,KS,66203.0,2012-12-06,2013-12-20,...,14CR02639,CR,14014222,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-12-10,2014-12-18,SUR,5000.0,1
1,330.0,NaN,MALE,1994-07-26,WHITE,LENEXA,KS,66219.0,2010-02-23,2011-04-10,...,15CR00879,CR,15004579,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-04-21,2015-04-21,ORCD,2500.0,1
2,811.0,NaN,FEMALE,1980-02-21,WHITE,OVERLAND PARK,KS,66212.0,2012-04-13,2012-07-03,...,15CR00879,CR,15004579,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-04-21,2015-04-21,ORCD,2500.0,1
3,1169.0,NaN,MALE,2008-10-01,WHITE,GARDNER,KS,66030.0,2015-05-08,2015-10-13,...,15CR00879,CR,15004579,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-04-21,2015-04-21,ORCD,2500.0,1
4,1205.0,NaN,FEMALE,2001-11-22,OTHER RACE,OLATHE,KS,66062.0,2012-09-24,2013-03-05,...,15CR00879,CR,15004579,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-04-21,2015-04-21,ORCD,2500.0,1

In [23]:
df[['dedupe_id', 'mni_no']]

       dedupe_id  mni_no
0          218.0   91298
1          330.0  691871
2          811.0  691871
3         1169.0  691871
4         1205.0  691871
5         1420.0  691871
6         1647.0  691871
7         1786.0  691871
8         1907.0  691871
9         2051.0  691871
10        2246.0  691871
11        2257.0  691871
12        2392.0  691871
13        2524.0  691871
14        2524.0  691871
15        2812.0  691871
16        3307.0  691871
17        3860.0  691871
18        4197.0  691871
19        4390.0  691871
20        5511.0  691871
21        5674.0  691871
22        5674.0  691871
23        6530.0  691871
24        7272.0  691871
25        7311.0  691871
26        7352.0  691871
27        7683.0  691871
28        8021.0  691871
29        8730.0  691871
...          ...     ...
9977    750863.0  343028
9978    750863.0  343028
9979    750939.0  704717
9980    750939.0  704717
9981    751054.0  646823
9982    751157.0  562830
9983    751157.0  562830
9984    751157.0  562830
9985    751157.0  562830
9986    751761.0  346576
9987    752077.0  396310
9988    752077.0  396310
9989    752077.0  396310
9990    752077.0  396310
9991    752077.0  396310
9992    752077.0  396310
9993    752077.0  396310
9994    752077.0  396310
9995    752325.0  293277
9996    752344.0  371282
9997    752514.0  393408
9998    752514.0  393408
9999    752514.0  393408
10000   752514.0  393408
10001   752514.0  393408
10002   752514.0  393408
10003   752514.0  393408
10004   752514.0  393408
10005   752514.0  393408
10006   752514.0  393408

[10007 rows x 2 columns]

In [4]:
df.columns

Index(['dedupe_id', 'hash_ssn', 'sex', 'dob', 'race', 'city', 'state', 'zip',
       'admit_date', 'dschrg_date', 'program', 'pri_dx_code', 'pri_dx_value',
       'refferal_source', 'case_id', 'mni_no', 'case_no', 'case_type',
       'booking_no', 'arresting_agency', 'arresting_agency_type',
       'booking_date', 'release_date', 'bail_type', 'bail_amt', 'bailed_out'],
      dtype='object')

In [48]:
df.dedupe_id.nunique()

6043

In [16]:
df.shape

(10007, 26)

In [17]:
df.mni_no.nunique()

2615

In [26]:
simple_inmate.head()

  height weight mar_stat     arrest_dt b_state     mni      rel_date religion
0    601    165        D  2.000103e+13      OK  176357  2.000103e+13      NaN
1    509    160        S  2.001102e+13      TX  379119  2.001102e+13      NaN
2    603    210      NaN  2.002102e+13      KS  380325  2.002111e+13      NaN
3    508    170        D  1.998071e+13      MO   88291  1.998071e+13      NaN
4    506    180      NaN  1.999071e+13      MO  330315  1.999081e+13      NaN

In [27]:
simple_inmate.columns

Index(['height', 'weight', 'mar_stat', 'arrest_dt', 'b_state', 'mni',
       'rel_date', 'religion'],
      dtype='object')

In [137]:
def to_datetime(df, cols):
    for col in cols:
        df[col] = df[col].apply(lambda x: str(x)[:-8])
        df[col] = pd.to_numeric(df[col], errors='coerce')
        df[col] = pd.to_datetime(df[col], format="%Y%m%d")
        
    return None

In [138]:
simple_inmate.rename(columns={'mni': 'mni_no', 'rel_date': 'release_date', 'arrest_dt': 'arrest_date'}, inplace=True)

In [139]:
simple_inmate['release_date_missing'] = simple_inmate['release_date'].isnull()
simple_inmate['arrest_date_missing'] = simple_inmate['arrest_date'].isnull()
simple_inmate['religion_missing'] = simple_inmate['religion'].isnull()

In [140]:
to_datetime(simple_inmate, ['arrest_date', 'release_date'])

In [141]:
simple_inmate.head()

,height,weight,mar_stat,arrest_date,b_state,mni_no,release_date,religion,release_date_missing,arrest_date_missing,religion_missing
0,601,165,D,2000-10-26,OK,176357,2000-10-28,NaN,False,False,True
1,509,160,S,2001-10-20,TX,379119,2001-10-23,NaN,False,False,True
2,603,210,NaN,2002-10-18,KS,380325,2002-11-10,NaN,False,False,True
3,508,170,D,1998-07-09,MO,88291,1998-07-10,NaN,False,False,True
4,506,180,NaN,1999-07-08,MO,330315,1999-08-12,NaN,False,False,True

In [142]:
simple_inmate.shape

(382710, 11)

In [143]:
simple_inmate = simple_inmate.drop_duplicates()

In [144]:
simple_inmate.shape

(382696, 11)

In [37]:
simple_inmate.mni_no.nunique()

167927

In [38]:
simple_inmate.columns

Index(['height', 'weight', 'mar_stat', 'arrest_date', 'b_state', 'mni_no',
       'release_date', 'religion', 'release_date_missing',
       'arrest_date_missing', 'religion_missing'],
      dtype='object')

In [145]:
simple_inmate.head()

,height,weight,mar_stat,arrest_date,b_state,mni_no,release_date,religion,release_date_missing,arrest_date_missing,religion_missing
0,601,165,D,2000-10-26,OK,176357,2000-10-28,NaN,False,False,True
1,509,160,S,2001-10-20,TX,379119,2001-10-23,NaN,False,False,True
2,603,210,NaN,2002-10-18,KS,380325,2002-11-10,NaN,False,False,True
3,508,170,D,1998-07-09,MO,88291,1998-07-10,NaN,False,False,True
4,506,180,NaN,1999-07-08,MO,330315,1999-08-12,NaN,False,False,True

In [40]:
simple_inmate.mni_no.nunique()

167927

In [146]:
withinmate = pd.merge(df, simple_inmate, left_on = 'mni_no', right_on = 'mni_no')

In [147]:
withinmate.columns

Index(['dedupe_id', 'hash_ssn', 'sex', 'dob', 'race', 'city', 'state', 'zip',
       'admit_date', 'dschrg_date', 'program', 'pri_dx_code', 'pri_dx_value',
       'refferal_source', 'case_id', 'mni_no', 'case_no', 'case_type',
       'booking_no', 'arresting_agency', 'arresting_agency_type',
       'booking_date', 'release_date_x', 'bail_type', 'bail_amt', 'bailed_out',
       'height', 'weight', 'mar_stat', 'arrest_date', 'b_state',
       'release_date_y', 'religion', 'release_date_missing',
       'arrest_date_missing', 'religion_missing'],
      dtype='object')

In [148]:
withinmate.head(15) # does it make sense to have duplicated dedupe_id? same mni_no for different people... why??

,dedupe_id,hash_ssn,sex,dob,race,city,state,zip,admit_date,dschrg_date,...,height,weight,mar_stat,arrest_date,b_state,release_date_y,religion,release_date_missing,arrest_date_missing,religion_missing
0,218.0,b6e3375c206fa1e49e71a111f6e48b7b789969b88a6151...,FEMALE,1961-07-23,WHITE,MERRIAM,KS,66203.0,2012-12-06,2013-12-20,...,509,180,S,2015-05-07,KS,2015-06-02,CHRISTIAN,False,False,False
1,218.0,b6e3375c206fa1e49e71a111f6e48b7b789969b88a6151...,FEMALE,1961-07-23,WHITE,MERRIAM,KS,66203.0,2012-12-06,2013-12-20,...,511,147,D,1992-01-10,NaN,1992-04-08,NaN,False,False,True
2,218.0,b6e3375c206fa1e49e71a111f6e48b7b789969b88a6151...,FEMALE,1961-07-23,WHITE,MERRIAM,KS,66203.0,2012-12-06,2013-12-20,...,509,176,S,2014-12-10,KS,2014-12-18,NO,False,False,False
3,218.0,b6e3375c206fa1e49e71a111f6e48b7b789969b88a6151...,FEMALE,1961-07-23,WHITE,MERRIAM,KS,66203.0,2012-12-06,2013-12-20,...,511,147,D,1992-06-25,NaN,1992-12-22,NaN,False,False,True
4,330.0,NaN,MALE,1994-07-26,WHITE,LENEXA,KS,66219.0,2010-02-23,2011-04-10,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
5,811.0,NaN,FEMALE,1980-02-21,WHITE,OVERLAND PARK,KS,66212.0,2012-04-13,2012-07-03,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
6,1169.0,NaN,MALE,2008-10-01,WHITE,GARDNER,KS,66030.0,2015-05-08,2015-10-13,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
7,1205.0,NaN,FEMALE,2001-11-22,OTHER RACE,OLATHE,KS,66062.0,2012-09-24,2013-03-05,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
8,1420.0,NaN,MALE,1984-12-16,WHITE,OLATHE,KS,66061.0,2015-08-26,2015-08-27,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
9,1647.0,NaN,FEMALE,2000-10-25,OTHER RACE,OLATHE,KS,66062.0,2015-11-19,NaN,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
10,1786.0,NaN,FEMALE,2002-01-30,WHITE,SHAWNEE,KS,66216.0,2010-05-04,2011-06-13,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
11,1907.0,NaN,MALE,1999-11-16,WHITE,CHILLICOTHE,MO,64601.0,2011-03-21,2012-10-04,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
12,2051.0,NaN,FEMALE,1997-11-22,BLACK OR AFRICAN AMERICAN,SHAWNEE,KS,66217.0,2013-09-24,2015-12-02,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
13,2246.0,NaN,FEMALE,2009-05-13,WHITE,OLATHE,KS,66061.0,2015-04-06,NaN,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False
14,2257.0,NaN,MALE,2003-10-16,WHITE,OLATHE,KS,66061.0,2010-04-29,2010-10-28,...,502,142,M,2015-04-21,MM,2015-04-21,CATHOLIC,False,False,False

In [149]:
withinmate[['release_date_x', 'release_date_y']] # why are these different?

      release_date_x release_date_y
0         2014-12-18     2015-06-02
1         2014-12-18     1992-04-08
2         2014-12-18     2014-12-18
3         2014-12-18     1992-12-22
4         2015-04-21     2015-04-21
5         2015-04-21     2015-04-21
6         2015-04-21     2015-04-21
7         2015-04-21     2015-04-21
8         2015-04-21     2015-04-21
9         2015-04-21     2015-04-21
10        2015-04-21     2015-04-21
11        2015-04-21     2015-04-21
12        2015-04-21     2015-04-21
13        2015-04-21     2015-04-21
14        2015-04-21     2015-04-21
15        2015-04-21     2015-04-21
16        2015-04-21     2015-04-21
17        2015-04-21     2015-04-21
18        2015-04-21     2015-04-21
19        2015-04-21     2015-04-21
20        2015-04-21     2015-04-21
21        2015-04-21     2015-04-21
22        2015-04-21     2015-04-21
23        2015-04-21     2015-04-21
24        2015-04-21     2015-04-21
25        2015-04-21     2015-04-21
26        2015-04-21     2015-04-21
27        2015-04-21     2015-04-21
28        2015-04-21     2015-04-21
29        2015-04-21     2015-04-21
...              ...            ...
41848     2013-05-07     2013-05-07
41849     2013-05-07     2009-08-20
41850     2013-05-07     2013-11-13
41851     2013-05-07     2010-05-28
41852     2013-05-07     2011-09-29
41853     2013-05-07     2010-01-02
41854     2015-09-15     2016-07-05
41855     2015-09-15     2011-03-03
41856     2015-09-15     2010-07-08
41857     2015-09-15     2015-09-15
41858     2015-09-15     2011-02-01
41859     2015-09-15     2015-01-14
41860     2015-09-15     2013-05-07
41861     2015-09-15     2009-08-20
41862     2015-09-15     2013-11-13
41863     2015-09-15     2010-05-28
41864     2015-09-15     2011-09-29
41865     2015-09-15     2010-01-02
41866            NaN     2016-07-05
41867            NaN     2011-03-03
41868            NaN     2010-07-08
41869            NaN     2015-09-15
41870            NaN     2011-02-01
41871            NaN     2015-01-14
41872            NaN     2013-05-07
41873            NaN     2009-08-20
41874            NaN     2013-11-13
41875            NaN     2010-05-28
41876            NaN     2011-09-29
41877            NaN     2010-01-02

[41878 rows x 2 columns]

In [150]:
def within_frame(df, id_num='mni_no', timestamp='release_date_y', duration=365):
    df = df.sort_values(by=[id_num, timestamp])
    df['re-enter-days'] = df.groupby(id_num)[timestamp].diff()
    df['re-enter-days'] = df['re-enter-days'].apply(lambda x: x.days)
    df['within_{}'.format(duration)] = np.where(df['re-enter-days']>duration, 1, 0)

    
    return df

In [151]:
from datetime import datetime
def restrain_datetime(df, date_col='arrest_date', from_date=(2010,1,1), to_date=(2015,12,31)):
    df.index = df[date_col]
    df = df.sort_index()
    df = df[datetime(*from_date):datetime(*to_date)]
    df = df.reset_index(drop=True)
    
    return df

In [152]:
restrained = restrain_datetime(withinmate)

In [153]:
restrained

,dedupe_id,hash_ssn,sex,dob,race,city,state,zip,admit_date,dschrg_date,...,height,weight,mar_stat,arrest_date,b_state,release_date_y,religion,release_date_missing,arrest_date_missing,religion_missing
0,457926.0,225a78e69230bb8845c06bb4e883620444d5e05660bac6...,MALE,1963-04-15,WHITE,PRAIRIE VILLAGE,KS,66208.0,2015-10-21,2016-02-12,...,508,140,S,2010-01-01,KS,2010-01-08,NaN,False,False,True
1,471127.0,af2c0a4eb57363b6830eda88e504890c52ac27428a4ed2...,FEMALE,1969-03-07,WHITE,GARDNER,KS,66030.0,2009-09-24,2012-02-20,...,506,180,M,2010-01-04,FL,2010-01-04,NaN,False,False,True
2,471127.0,af2c0a4eb57363b6830eda88e504890c52ac27428a4ed2...,FEMALE,1969-03-07,WHITE,GARDNER,KS,66030.0,2009-09-24,2012-02-20,...,506,180,M,2010-01-04,FL,2010-01-04,NaN,False,False,True
3,463260.0,3141c79ce8dbce076bde8ddd03c35438b3258ce7e56e0e...,FEMALE,1975-08-05,WHITE,OLATHE,KS,66061.0,2009-11-16,2011-01-24,...,507,120,NaN,2010-01-05,KS,2010-01-19,NaN,False,False,True
4,511961.0,2dcd8c8c2e0a9e54e9f1168e4c3187d84a03b003eac0ab...,MALE,1986-07-01,WHITE,OLATHE,KS,66061.0,2014-03-14,2014-03-14,...,507,200,S,2010-01-05,MO,2010-01-06,NaN,False,False,True
5,455893.0,29a860eb02c69ddf2603d2538f7857be85834c454e41d9...,FEMALE,1985-09-26,WHITE,SHAWNEE,KS,66203.0,2012-02-02,2012-04-24,...,506,180,S,2010-01-05,MO,2010-01-06,NaN,False,False,True
6,244517.0,75045571c4cf0a2e0174f42fc020a5b64fd2a54c96512e...,FEMALE,1982-04-28,WHITE,OLATHE,KS,66061.0,2010-06-16,2010-06-16,...,411,125,S,2010-01-05,KY,2010-01-05,NaN,False,False,True
7,545816.0,4cb763971a5d8ba02c6a9ff5ca2b3f724bb3109f3c58b0...,MALE,1988-06-14,WHITE,OVERLAND PARK,KS,66213.0,2010-04-26,2010-04-26,...,600,160,NaN,2010-01-05,CA,2010-01-08,NaN,False,False,True
8,244517.0,75045571c4cf0a2e0174f42fc020a5b64fd2a54c96512e...,FEMALE,1982-04-28,WHITE,OLATHE,KS,66061.0,2010-08-20,2010-11-29,...,411,125,S,2010-01-05,KY,2010-01-05,NaN,False,False,True
9,545816.0,4cb763971a5d8ba02c6a9ff5ca2b3f724bb3109f3c58b0...,MALE,1988-06-14,WHITE,OVERLAND PARK,KS,66213.0,2010-04-26,2010-04-26,...,600,160,NaN,2010-01-05,CA,2010-01-08,NaN,False,False,True
10,511961.0,2dcd8c8c2e0a9e54e9f1168e4c3187d84a03b003eac0ab...,MALE,1986-07-01,WHITE,OLATHE,KS,66061.0,2014-03-14,2014-03-14,...,507,200,S,2010-01-05,MO,2010-01-06,NaN,False,False,True
11,455893.0,29a860eb02c69ddf2603d2538f7857be85834c454e41d9...,FEMALE,1985-09-26,WHITE,SHAWNEE,KS,66203.0,2009-08-26,2010-03-16,...,506,180,S,2010-01-05,MO,2010-01-06,NaN,False,False,True
12,146340.0,e4968d5cd9167c3f8148f4eb47681bad64d533f8c37e2d...,MALE,1990-01-22,WHITE,OLATHE,KS,66062.0,2009-07-10,2010-01-12,...,509,175,S,2010-01-06,KS,2010-01-13,NaN,False,False,True
13,680086.0,fb87b2652c23237e2a7223f24d978d4fbd1a093a33ffa1...,MALE,1988-02-17,WHITE,DE SOTO,KS,66018.0,2015-02-16,NaN,...,511,150,S,2010-01-06,KS,2010-01-08,NaN,False,False,True
14,640675.0,f21be338ec73f177b56c984a45fc31a4a9613462344981...,FEMALE,1977-02-01,WHITE,OVERLAND PARK,KS,66204.0,2009-03-19,2010-07-23,...,506,200,S,2010-01-06,NV,2010-01-07,NaN,False,False,True
15,146340.0,e4968d5cd9167c3f8148f4eb47681bad64d533f8c37e2d...,MALE,1990-01-22,WHITE,OLATHE,KS,66062.0,2012-01-13,2012-11-09,...,509,175,S,2010-01-06,KS,2010-01-13,NaN,False,False,True
16,146502.0,696e792f12aa35af1d3db8062e40a91fc2dd38b49ba811...,MALE,1985-01-24,WHITE,LEAWOOD,KS,66211.0,2010-04-02,2010-07-15,...,602,260,NaN,2010-01-06,KS,2010-01-07,NaN,False,False,True
17,146502.0,696e792f12aa35af1d3db8062e40a91fc2dd38b49ba811...,MALE,1985-01-24,WHITE,LEAWOOD,KS,66211.0,2010-04-02,2010-07-15,...,602,260,NaN,2010-01-06,KS,2010-01-07,NaN,False,False,True
18,680086.0,fb87b2652c23237e2a7223f24d978d4fbd1a093a33ffa1...,MALE,1988-02-17,WHITE,DE SOTO,KS,66018.0,2015-02-16,NaN,...,511,150,S,2010-01-06,KS,2010-01-08,NaN,False,False,True
19,680086.0,fb87b2652c23237e2a7223f24d978d4fbd1a093a33ffa1...,MALE,1988-02-17,WHITE,DE SOTO,KS,66018.0,2015-02-16,NaN,...,511,150,S,2010-01-06,KS,2010-01-08,NaN,False,False,True
20,680086.0,fb87b2652c23237e2a7223f24d978d4fbd1a093a33ffa1...,MALE,1988-02-17,WHITE,DE SOTO,KS,66018.0,2015-02-16,NaN,...,511,150,S,2010-01-06,KS,2010-01-08,NaN,False,False,True
21,83411.0,9a2ee6955f0f3c437bdf00bfe4b94fa5624550e58dd92f...,MALE,1986-07-31,WHITE,missing,missing,NaN,2015-02-17,NaN,...,510,180,S,2010-01-07,CO,2010-03-01,NaN,False,False,True
22,532141.0,6e586cd11f5d3f02d6e0d1957c14da630d3e6cca525539...,MALE,1983-10-11,WHITE,GARDNER,KS,66030.0,2011-03-01,2011-07-01,...,600,174,S,2010-01-07,KS,2010-01-07,NaN,False,False,True
23,83411.0,9a2ee6955f0f3c437bdf00bfe4b94fa5624550e58dd92f...,MALE,1986-07-31,WHITE,missing,missing,NaN,2015-02-17,NaN,...,510,180,S,2010-01-07,CO,2010-03-01,NaN,False,False,True
24,83411.0,9a2ee6955f0f3c437bdf00bfe4b94fa5624550e58dd92f...,MALE,1986-07-31,WHITE,NEW CENTURY,KS,66031.0,2011-02-14,2011-07-12,...,510,180,S,2010-01-07,CO,2010-03-01,NaN,False,False,True
25,83411.0,9a2ee6955f0f3c437bdf00bfe4b94fa5624550e58dd92f...,MALE,1986-07-31,WHITE,NEW CENTURY,KS,66031.0,2011-02-14,2011-07-12,...,510,180,S,2010-01-07,CO,2010-03-01,NaN,False,False,True
26,557592.0,41e636eb574bfa8d574ac746a487e378dd1e3c8466ede2...,MALE,1984-07-24,WHITE,OVERLAND PARK,KS,66212.0,2009-01-07,2012-04-03,...,511,185,S,2010-01-07,KS,2010-03-28,NaN,False,False,True
27,196677.0,818ea86f3d3460201de1020888f8331a2a5ee72cf9b505...,FEMALE,1942-10-25,WHITE,OVERLAND PARK,KS,66210.0,2011-06-28,2012-12-13,...,503,180,D,2010-01-09,NE,2010-01-15,NaN,False,False,True
28,196677.0,818ea86f3d3460201de1020888f8331a2a5ee72cf9b505...,FEMALE,1942-10-25,WHITE,OVERLAND PARK,KS,66210.0,2011-06-28,2012-12-13,...,503,180,D,2010-01-09,NE,2010-01-15,NaN,False,False,True
29,196677.0,818ea86f3d3460201de1020888f8331a2a5ee72cf9b505...,FEMALE,1942-10-25,WHITE,OVERLAND PARK,KS,66210.0,2010-07-13,2011-04-13,...,503,180,D,2010-01-09,NE,2010-01-15,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26316,723643.0,a9eb2b6f0258ae842f30e5a7633c43e7ade164f18c5ffb...,FEMALE,1985-07-07,WHITE,SHAWNEE,KS,66226.0,2010-08-02,2011-05-16,...,506,125,M,2015-12-30,OK,2015-12-30,NO,False,False,False
26317,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2009-12-16,2010-10-29,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26318,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2011-05-26,2012-05-24,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26319,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2013-01-22,2014-03-11,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26320,723643.0,a9eb2b6f0258ae842f30e5a7633c43e7ade164f18c5ffb...,FEMALE,1985-07-07,WHITE,SHAWNEE,KS,66226.0,2011-07-22,2012-01-17,...,506,125,M,2015-12-30,OK,2015-12-30,NO,False,False,False
26321,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2013-01-22,2014-03-11,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26322,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2011-05-26,2012-05-24,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26323,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2009-12-16,2010-10-29,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26324,723643.0,a9eb2b6f0258ae842f30e5a7633c43e7ade164f18c5ffb...,FEMALE,1985-07-07,WHITE,SHAWNEE,KS,66226.0,2011-07-22,2012-01-17,...,506,125,M,2015-12-30,OK,2015-12-30,NO,False,False,False
26325,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2011-05-26,2012-05-24,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26326,189618.0,4afdc8af7e5c4d71009a6717879d4da3c7559b0eda1427...,MALE,1974-04-15,WHITE,GARDNER,KS,66030.0,2014-01-31,2014-01-31,...,511,160,M,2015-12-30,KS,2015-12-31,CHRISTIAN,False,False,False
26327,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2013-01-22,2014-03-11,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26328,739682.0,9c766862d76e9ed81b12293462b0a949c8959c7f1a7468...,FEMALE,1979-05-29,WHITE,OVERLAND PARK,KS,66210.0,2015-11-25,NaN,...,507,141,S,2015-12-30,AK,2016-01-11,NO,False,False,False
26329,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2009-12-16,2010-10-29,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26330,240628.0,08e30ea4ff74ce9724e8492645470fc40ecdc1592f3a81...,MALE,1982-07-02,WHITE,missing,missing,NaN,2015-09-23,NaN,...,509,180,S,2015-12-30,OK,2016-01-01,CATHOLIC,False,False,False
26331,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2013-01-22,2014-03-11,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26332,189618.0,4afdc8af7e5c4d71009a6717879d4da3c7559b0eda1427...,MALE,1974-04-15,WHITE,GARDNER,KS,66031.0,2013-10-08,2013-12-19,...,511,160,M,2015-12-30,KS,2015-12-31,CHRISTIAN,False,False,False
26333,726752.0,6d24ea2346480b00fe1c8c88a81ad5f79627aa293007d4...,MALE,1979-06-29,WHITE,OLATHE,KS,66061.0,2009-12-16,2010-10-29,...,603,224,S,2015-12-30,CA,2015-12-30,NO,False,False,False
26334,739682.0,9c766862d76e9ed81b12293462b0a949c8959c7f1a7468...,FEMALE,1979-05-29,WHITE,OVERLAND PARK,KS,66210.0,2015-11-25,NaN,...,507,141,S,2015-12-30,AK,2016-01-11,NO,False,False,False
26335,539089.0,03df800b4994caccc6f06b1ccccfac7e5156aa68a7178b...,FEMALE,1984-03-22,WHITE,NEW CENTURY,KS,66031.0,2015-09-15,2016-04-25,...,503,205,S,2015-12-31,KS,2016-01-02,NO,False,False,False
26336,539089.0,03df800b4994caccc6f06b1ccccfac7e5156aa68a7178b...,FEMALE,1984-03-22,WHITE,NEW CENTURY,KS,66031.0,2015-09-15,2016-04-25,...,503,205,S,2015-12-31,KS,2016-01-02,NO,False,False,False
26337,525550.0,9fe7a8d92b654f7fc839d18816e117361b13d126d6e5bf...,FEMALE,1997-12-27,OTHER RACE,OLATHE,KS,66061.0,2015-08-10,2015-09-10,...,504,207,S,2015-12-31,KS,2016-01-25,NO,False,False,False
26338,525550.0,9fe7a8d92b654f7fc839d18816e117361b13d126d6e5bf...,FEMALE,1997-12-27,OTHER RACE,OLATHE,KS,66061.0,2015-08-10,2015-09-10,...,504,207,S,2015-12-31,KS,2016-01-25,NO,False,False,False
26339,247009.0,7ebdc71ab0b134cb065fa987ee3b9be1d1ae5237d3aba4...,MALE,1992-02-20,WHITE,SHAWNEE,KS,66216.0,2006-09-26,2010-03-24,...,510,146,S,2015-12-31,KS,2015-12-31,NO,False,False,False
26340,525550.0,9fe7a8d92b654f7fc839d18816e117361b13d126d6e5bf...,FEMALE,1997-12-27,OTHER RACE,OVERLAND PARK,KS,66210.0,2009-12-28,2014-03-17,...,504,207,S,2015-12-31,KS,2016-01-25,NO,False,False,False
26341,525550.0,9fe7a8d92b654f7fc839d18816e117361b13d126d6e5bf...,FEMALE,1997-12-27,OTHER RACE,OVERLAND PARK,KS,66210.0,2009-12-28,2014-03-17,...,504,207,S,2015-12-31,KS,2016-01-25,NO,False,False,False
26342,247009.0,7ebdc71ab0b134cb065fa987ee3b9be1d1ae5237d3aba4...,MALE,1992-02-20,WHITE,NEW CENTURY,KS,66031.0,2010-08-20,2010-08-20,...,510,146,S,2015-12-31,KS,2015-12-31,NO,False,False,False
26343,247009.0,7ebdc71ab0b134cb065fa987ee3b9be1d1ae5237d3aba4...,MALE,1992-02-20,WHITE,SHAWNEE,KS,66216.0,2006-09-26,2010-03-24,...,510,146,S,2015-12-31,KS,2015-12-31,NO,False,False,False
26344,408387.0,8ecbb6093358cd8554498fe7c9d906d49367c9a4302e0a...,MALE,1997-10-22,WHITE,OLATHE,KS,66062.0,2010-04-29,2011-03-08,...,507,151,S,2015-12-31,MO,2016-01-11,CHRISTIAN,False,False,False
26345,247009.0,7ebdc71ab0b134cb065fa987ee3b9be1d1ae5237d3aba4...,MALE,1992-02-20,WHITE,NEW CENTURY,KS,66031.0,2010-08-20,2010-08-20,...,510,146,S,2015-12-31,KS,2015-12-31,NO,False,False,False

In [126]:
withinmate[withinmate.arrest_date.isnull()]

Empty DataFrame
Columns: [dedupe_id, hash_ssn, sex, dob, race, city, state, zip, admit_date, dschrg_date, program, pri_dx_code, pri_dx_value, refferal_source, case_id, mni_no, case_no, case_type, booking_no, arresting_agency, arresting_agency_type, booking_date, release_date_x, bail_type, bail_amt, bailed_out, height, weight, mar_stat, arrest_date, b_state, release_date_y, religion, release_date_missing, arrest_date_missing, religion_missing]
Index: []

[0 rows x 36 columns]

In [77]:
with_dur = within_frame(withinmate)

In [78]:
with_dur[['re-enter-days', 'within_365']]

       re-enter-days  within_365
30228            NaN           0
9065             NaN           0
9066             0.0           0
26577            NaN           0
26580            0.0           0
26583            0.0           0
26576         1180.0           1
26579            0.0           0
26582            0.0           0
26575         1382.0           1
26578            0.0           0
26581            0.0           0
5929             NaN           0
5917            36.0           0
5916           104.0           0
5918          2803.0           1
5926            89.0           0
5923           171.0           0
5925           873.0           1
5922           747.0           1
5921            30.0           0
5914            55.0           0
5920           301.0           0
5915            47.0           0
5919            51.0           0
5928           749.0           1
5927           141.0           0
5924           132.0           0
25729            NaN           0
25728         3926.0           1
...              ...         ...
41723            0.0           0
41721            NaN           0
41724            NaN           0
23289            NaN           0
23293            0.0           0
23286           19.0           0
23290            0.0           0
23287           33.0           0
23291            0.0           0
23288            NaN           0
23292            NaN           0
28816            NaN           0
5127             NaN           0
21808            NaN           0
27430            NaN           0
12672            NaN           0
12673            0.0           0
18777            NaN           0
11746            NaN           0
14547            NaN           0
40964            NaN           0
22275            NaN           0
28319            NaN           0
5511             NaN           0
5513             0.0           0
5512             3.0           0
5514             0.0           0
13063            NaN           0
13062            NaN           0
21129            NaN           0

[41878 rows x 2 columns]

In [59]:
withinmate.shape

(41878, 36)

In [60]:
withinmate.columns

Index(['dedupe_id', 'hash_ssn', 'sex', 'dob', 'race', 'city', 'state', 'zip',
       'admit_date', 'dschrg_date', 'program', 'pri_dx_code', 'pri_dx_value',
       'refferal_source', 'case_id', 'mni_no', 'case_no', 'case_type',
       'booking_no', 'arresting_agency', 'arresting_agency_type',
       'booking_date', 'release_date_x', 'bail_type', 'bail_amt', 'bailed_out',
       'height', 'weight', 'mar_stat', 'arrest_date', 'b_state',
       'release_date_y', 'religion', 'release_date_missing',
       'arrest_date_missing', 'religion_missing'],
      dtype='object')

In [16]:
withinmate[['dedupe_id', 'mni_no']]

       dedupe_id  mni_no
0          218.0   91298
1          218.0   91298
2          218.0   91298
3          330.0  691871
4          330.0  691871
5          330.0  691871
6          811.0  691871
7          811.0  691871
8          811.0  691871
9         1169.0  691871
10        1169.0  691871
11        1169.0  691871
12        1205.0  691871
13        1205.0  691871
14        1205.0  691871
15        1420.0  691871
16        1420.0  691871
17        1420.0  691871
18        1647.0  691871
19        1647.0  691871
20        1647.0  691871
21        1786.0  691871
22        1786.0  691871
23        1786.0  691871
24        1907.0  691871
25        1907.0  691871
26        1907.0  691871
27        2051.0  691871
28        2051.0  691871
29        2051.0  691871
...          ...     ...
35999   752514.0  393408
36000   752514.0  393408
36001   752514.0  393408
36002   752514.0  393408
36003   752514.0  393408
36004   752514.0  393408
36005   752514.0  393408
36006   752514.0  393408
36007   752514.0  393408
36008   752514.0  393408
36009   752514.0  393408
36010   752514.0  393408
36011   752514.0  393408
36012   752514.0  393408
36013   752514.0  393408
36014   752514.0  393408
36015   752514.0  393408
36016   752514.0  393408
36017   752514.0  393408
36018   752514.0  393408
36019   752514.0  393408
36020   752514.0  393408
36021   752514.0  393408
36022   752514.0  393408
36023   752514.0  393408
36024   752514.0  393408
36025   752514.0  393408
36026   752514.0  393408
36027   752514.0  393408
36028   752514.0  393408

[36029 rows x 2 columns]

In [46]:
withinmate.dedupe_id.nunique()

6043

In [43]:
with_inmate = withinmate.drop_duplicates('dedupe_id')

In [44]:
with_inmate.shape

(6043, 32)

In [45]:
with_inmate[['dedupe_id', 'mni_no']]

       dedupe_id  mni_no
0          218.0   91298
3          330.0  691871
6          811.0  691871
9         1169.0  691871
12        1205.0  691871
15        1420.0  691871
18        1647.0  691871
21        1786.0  691871
24        1907.0  691871
27        2051.0  691871
30        2246.0  691871
33        2257.0  691871
36        2392.0  691871
39        2524.0  691871
45        2812.0  691871
48        3307.0  691871
51        3860.0  691871
54        4197.0  691871
57        4390.0  691871
60        5511.0  691871
63        5674.0  691871
69        6530.0  691871
72        7272.0  691871
75        7311.0  691871
78        7352.0  691871
81        7683.0  691871
84        8021.0  691871
87        8730.0  691871
90        8840.0  691871
93        9025.0  691871
...          ...     ...
35497   744661.0  592055
35500   745135.0  494689
35605   745799.0  603113
35611   745872.0  129592
35612   746089.0  381780
35622   746234.0  147586
35626   746773.0  278222
35636   746897.0  538379
35648   747102.0  189406
35656   747370.0  599653
35664   747848.0  526206
35665   747948.0  583496
35677   748376.0  586174
35687   748378.0  412583
35689   749733.0  608801
35693   750024.0   25518
35695   750184.0  510603
35827   750469.0  523299
35828   750605.0  596503
35863   750720.0  546266
35864   750768.0  651361
35866   750863.0  343028
35872   750939.0  704717
35878   751054.0  646823
35880   751157.0  562830
35892   751761.0  346576
35895   752077.0  396310
35935   752325.0  293277
35937   752344.0  371282
35939   752514.0  393408

[6043 rows x 2 columns]

In [49]:
with_inmate.head(15)

,dedupe_id,hash_ssn,sex,dob,race,city,state,zip,admit_date,dschrg_date,...,release_date,bail_type,bail_amt,bailed_out,case_no_y,charge_code,charge_desc,severity_lvl,finding,charge_pos
0,218.0,b6e3375c206fa1e49e71a111f6e48b7b789969b88a6151...,FEMALE,1961-07-23,WHITE,MERRIAM,KS,66203.0,2012-12-06,2013-12-20,...,2014-12-18,SUR,5000.0,1,14CR02639,21-5813(b)(3),CRIM DAMAGE <$1000,B,DISMISSED BY PROSECUTION,3
3,330.0,NaN,MALE,1994-07-26,WHITE,LENEXA,KS,66219.0,2010-02-23,2011-04-10,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
6,811.0,NaN,FEMALE,1980-02-21,WHITE,OVERLAND PARK,KS,66212.0,2012-04-13,2012-07-03,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
9,1169.0,NaN,MALE,2008-10-01,WHITE,GARDNER,KS,66030.0,2015-05-08,2015-10-13,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
12,1205.0,NaN,FEMALE,2001-11-22,OTHER RACE,OLATHE,KS,66062.0,2012-09-24,2013-03-05,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
15,1420.0,NaN,MALE,1984-12-16,WHITE,OLATHE,KS,66061.0,2015-08-26,2015-08-27,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
18,1647.0,NaN,FEMALE,2000-10-25,OTHER RACE,OLATHE,KS,66062.0,2015-11-19,NaN,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
21,1786.0,NaN,FEMALE,2002-01-30,WHITE,SHAWNEE,KS,66216.0,2010-05-04,2011-06-13,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
24,1907.0,NaN,MALE,1999-11-16,WHITE,CHILLICOTHE,MO,64601.0,2011-03-21,2012-10-04,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
27,2051.0,NaN,FEMALE,1997-11-22,BLACK OR AFRICAN AMERICAN,SHAWNEE,KS,66217.0,2013-09-24,2015-12-02,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
30,2246.0,NaN,FEMALE,2009-05-13,WHITE,OLATHE,KS,66061.0,2015-04-06,NaN,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
33,2257.0,NaN,MALE,2003-10-16,WHITE,OLATHE,KS,66061.0,2010-04-29,2010-10-28,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
36,2392.0,NaN,MALE,1998-11-13,WHITE,SPRING HILL,KS,66083.0,2010-10-04,2011-07-15,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
39,2524.0,NaN,FEMALE,1998-04-01,WHITE,OLATHE,KS,66062.0,2012-02-24,2012-06-26,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3
45,2812.0,NaN,FEMALE,1995-07-14,WHITE,MISSION,KS,66202.0,2010-10-26,2013-01-29,...,2015-04-21,ORCD,2500.0,1,15CR00879,8-0260,FELONY USE OF DL,9,OTHER TERMINATION,3